<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Main headquaters</h3>
                    <ul>
                       <p>Indian Red Cross Society <br>
                        1, Red Cross Road <br>
                        Ahemdabad - 110001 <br>
                        INDIA
                        <br>
                        Tel: (+91-11) 23716441/2/3
                        <br>
                        Fax: (+91-11) 23717454,23717063</p>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Legacy</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Blood bank branches</h3>
                    <ul>
                        <li><a href="#">Ahmedabad</a></li>
                        <li><a href="#">Surat</a></li>
                        <li><a href="#">amreli</a></li>
                        <li><a href="#">vadodara</a></li>

                    </ul>
                </div>
                <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-whatsapp"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                    <p class="copyright">Blood Bank © 2021</p>
                </div>
            </div>
        </div>
    </footer>
</div>