<div class="header">
    <a href="/">Blood Bank & Donation </a>
    <div class="header-right">
        <a href="/Aboutus"> About Us</a>
        <a href="/Whydonate">Why Donate Blood</a>
        <a href="/camplocation">Camps</a>
        <a href="/DoneteBlood">Become A Donor</a>
        <a href="/NeedBlood">Need Blood</a>
        <a href="/contactus">Contact Us</a>
        <a href="/bot">Rakt Bot</a>

    </div>
</div>